html {
  @include default-font();
}

// Copy & Lists 
p {
}

ul li,
ol li {
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: $green;
  transition: color .25s;

  &:hover, &:active, &:focus {
    color: inherit;
    transition: color .25s;
  }

  &:visited {
    color: $green;
  }
}

// Headings 

h1 {
  @include h2-style();
}
h2 {
  @include h2-style();
}
h2.page-title{
  @include default-font();
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
  font-weight: 900;
}
h2.entry-title {
  font-family: $font-1;
  font-weight: 300;
  padding-top: 70px;
  margin-bottom: 30px;
}
h3 {
  @include h3-style();
}
h4 {
  @include h4-style();
}
h5 {
  @include h5-style();
}
h6 {
  &::before {
    content: "Why are you using an h6 tag??  Tony does not approve.";
    color: red;
    display: block;
    z-index: 1000;
    position: relative;
  }
}

// Tables
table {
  border-spacing: 0px;
  border-collapse: collapse;
}
table td,
table th {
  padding: 0;
  line-height: 33px;
}

// Code Blocks
code {
  vertical-align: bottom;
}
