.site-footer{

	.bg-base {
		background-color: #222;
		padding-top: 20px;
	}

  .logo {
    top: 10px;
    display: block;
    text-align: center;
    margin: 10px auto 0;
  }

	p {
		color: #666;
	}

	a:not(.btop) {
		color: #666;
	}

	.btop {
		font-weight: 900;
		text-transform: uppercase;
	}

	.text-right {
		float: right;

		@media #{$bp-tab} {
			float: none;
			display: block;
			text-align: center;
		}
	}

	.text-left {
		float: left;

		@media #{$bp-tab} {
			float: none;
			text-align: center;
		}
	}

	.footer-top {
		height: 100px;
		padding: 20px;
		background-color: $green;

		.object-wrapper {
			margin: 0 auto;
		}
	}
}