body {
  position: relative;
  right: 0;
  transition: right .25s;
  

  &.menu-open {
    right: 300px;
    transition: right .25s;
  }
}

.site-header{
  background: #fff;
  border: none;
  border-top: 8px solid #21DB00;
  box-shadow: 0 0px 15px 4px #E2E2E2;
  min-height: 68px;
  margin-bottom: 0;
  position: relative;
  z-index: 1;

  .logo {
    margin-top: 9px;
    display: block;
    margin-left: 15px;
  }

  .navbar-header {
    float: left;
  }

  .navmenu-nav {
    margin-bottom: 0;
    padding: 30px 40px;
    border-bottom: 1px solid #444444;

    a {
      color: white;
      line-height: 32px;

      &:hover, &:focus {
          color: $green;
      }
    }
  }

  .main-nav {
    float: right;
    list-style: none;

    li {
      position: relative;
      width: 60px;
      height: 60px;
      text-align: center;
      border-left: 1px solid #E7E7E7;

      &:last-child {
        border-right: 1px solid #E7E7E7;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0px;
        width: 100%;
        background: transparent;
        -webkit-transition: all ease 0.5s;
        transition: all ease 0.5s;
      }

      &:hover {
        svg {
          fill: black;
        }

        &::after {
          height: 5px;
          background: #000;
        }
      }
    }

    svg {
      width: 24px;
      height: 24px;
      margin: 18px 0;
      fill: #aaaaaa;
    }
  }

  .navmenu-fixed-right {
    position: fixed;
    z-index: 1040;
    width: 300px;
    top: 0;
    bottom: 0;
    right: -300px;
    overflow-y: auto;
    border-radius: 0;
    background-color: #222222;
    border-color: #222222;
    transition: right .25s;

    &.menu-open {
      right: 0;
      transition: right .25s;
    }

    .navmenu-nav {
      list-style: none;
    }
  }

  .btn-nav-close {
    position: absolute;
    background: #666666;
    color: #fff;
    width: 45px;
    height: 45px;
    right: 0;
    text-align: center;
    font-size: 39px;
    line-height: 39px;
  }
}