.archive, .blog {
	.post {
		background-color: white;
		padding: 20px;
		box-shadow: 0 3px 15px rgba(0,0,0,.2);

		.entry-meta {
			color: rgb(170,170,170);
			margin: 20px 0;
		}

		.post-img {
			float: left;
			margin-right: 5%;
			width: 400px;
	    height: 266px;
	    background-size: cover;

			@media #{bg-desk} {
				margin-bottom: 20px;
			}

	    @media #{$bp-tab} {
	    	width: 200px;
	    	height: 133px;
	    }

			@media #{$bp-tab-sm} {
				float: none;
				display: block;
				width: 100%;
				height: auto;
			}
		}

		.read-more {
			font-weight: 900;
		}

		.entry-title {
			font-family: $font-2;
			font-size: 36px;
			line-height: 42px;
		}

		&::after {
			content: "";
			display: block;
			clear: both;
		}
	}
}

.single {
	.post {
		.post-img {
			height: 80vh;
			width: 100%;
			background-size: cover;
		}

		.entry-meta {
			color: rgb(170,170,170);
			margin-bottom: 30px;
		}

		.entry-content {
			margin-bottom: 50px;
		}
	}
}